<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Colors</h5>
    <div class="gf-form">
      <label class="gf-form-label width-7">Scheme</label>
      <div class="gf-form-select-wrapper width-8">
        <select class="input-small gf-form-input" ng-model="ctrl.panel.color.colorScheme" ng-options="s.value as s.name for s in ctrl.colorSchemes"
          ng-change="ctrl.render()"></select>
      </div>
    </div>
    <div class="gf-form">
      <svg id="heatmap-color-legend" width="17em" height="2em"></svg>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-7">Null Color</label>
      <span class="gf-form-label">
          <spectrum-picker ng-model="ctrl.panel.color.nullColor" ng-change="ctrl.render()" ></spectrum-picker>
        </span>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-7">Min</label>
      <input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" bs-tooltip="'Min value for color scale.'"
        ng-model="ctrl.panel.scale.min" ng-change="ctrl.render()" ng-model-onblur>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-7">Max</label>
      <input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" bs-tooltip="'Max value for color scale.'"
        ng-model="ctrl.panel.scale.max" ng-change="ctrl.render()" ng-model-onblur>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Data</h5>
    <div class="gf-form">
      <label class="gf-form-label width-7">Aggregate</label>
      <div class="gf-form-select-wrapper width-8">
        <select class="input-small gf-form-input" ng-model="ctrl.panel.aggregate" ng-options="s.value as s.name for s in ctrl.aggregateOptions"
          ng-change="ctrl.render()"></select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-7">Fragment</label>
      <div class="gf-form-select-wrapper width-8">
        <select class="input-small gf-form-input" ng-model="ctrl.panel.fragment" ng-options="s.value as s.name for s in ctrl.fragmentOptions"
          ng-change="ctrl.render()"></select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-7">Decimals</label>
      <input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" bs-tooltip="'Max decimal precision for tooltip and legend.'"
        ng-model="ctrl.panel.data.decimals" ng-change="ctrl.render()" ng-model-onblur>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-7">Unit</label>
      <div class="gf-form-dropdown-typeahead width-12" ng-model="ctrl.panel.data.unitFormat" dropdown-typeahead2="editor.unitFormats"
        dropdown-typeahead-on-select="editor.setUnitFormat($subItem)">
      </div>
    </div>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">X Axis</h5>
    <gf-form-switch class="gf-form" label-class="width-9" label="Show weekends" checked="ctrl.panel.xAxis.showWeekends" on-change="ctrl.render()">
    </gf-form-switch>
    <div class="gf-form">
      <label class="gf-form-label width-9">Min bucket width</label>
      <input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" bs-tooltip="'Min bucket width in px to show weekend lines.'"
        ng-model="ctrl.panel.xAxis.minBucketWidthToShowWeekends" ng-change="ctrl.render()" ng-model-onblur>
    </div>
    <gf-form-switch class="gf-form" label-class="width-9" label="Show crosshair" checked="ctrl.panel.xAxis.showCrosshair" on-change="ctrl.render()">
    </gf-form-switch>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Y Axis</h5>
    <gf-form-switch class="gf-form" label-class="width-9" label="Show crosshair" checked="ctrl.panel.yAxis.showCrosshair" on-change="ctrl.render()">
    </gf-form-switch>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Tooltip</h5>
    <gf-form-switch class="gf-form" label-class="width-7" label="Show" checked="ctrl.panel.tooltip.show" on-change="ctrl.render()">
    </gf-form-switch>
  </div>

  <div class="section gf-form-group">
    <h5 class="section-heading">Legend</h5>
    <gf-form-switch class="gf-form" label-class="width-7" label="Show" checked="ctrl.panel.legend.show" on-change="ctrl.render()">
    </gf-form-switch>
  </div>
</div>